.App {
  text-align: center;
}

.Inicio{
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  font-style: oblique;
  /*font-size: calc(50px + 2vmin);*/
  font-size: 60pt;
  position: absolute;
  transition: 0.2s;
}

.Inicio:hover{
  transform: scale(1.5);
}

.Video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.Overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  position:absolute;
  opacity: 0.1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 6s linear;
  }
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*.App-link {
  color: #61dafb;
}*/


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


