
#img{
    margin: 5px;
    border: 5px solid #eee;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}


#img:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}

.card-body{
    background-color: aliceblue;
    text-align:center;
}

#title{
    font-size: 10pt;
}

.btnDescription{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin:0px auto;
}

